In [1]:
# %%
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

from pandarallel import pandarallel
pandarallel.initialize(progress_bar=True)


from us_state_abbrev import us_state_abbrev, abbrev_us_state
%matplotlib inline
# %%
datap = Path('../Data')  # set the data path

INFO: Pandarallel will run on 24 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

<br>
<hr>
<br>
<br>
<br>
<br>

# Import Dataset: Diversity Index by location

In [2]:
# import the data
dfdiv = pd.read_csv(datap/"diversityindex.csv")


# create State and County columns from generic Location column
dfdiv[['County', 'State']] = pd.DataFrame(dfdiv['Location'].str.split(',').tolist())
dfdiv['County'] = dfdiv['County'].str.strip()
dfdiv['State'] = dfdiv['State'].str.strip()
dfdiv = dfdiv.drop(columns='Location')  # remove the original

# @TODO find the source of the NaNs
print(f'Number of nulls in State: {dfdiv["State"].isna().sum()}')
dfdiv = dfdiv.dropna(subset=['State'])
print(f'Number of nulls in State after dropping: {dfdiv["State"].isna().sum()}')


# reorder the columns
cols = dfdiv.columns.tolist()
cols = cols[-1:] + cols[-2:-1] + cols[:-2]
dfdiv = dfdiv[cols]

# replace extraneous instances of 'County' string
dfdiv['County'] = dfdiv['County']. \
    str.replace(' County',''). \
    str.replace('County ',''). \
    str.replace('County','')

dfdiv = dfdiv.sort_values(by=['State', 'County']).reset_index(drop=True)  # sort by geo loc

# Display the df and stats
print('\n\nTransposed DataFrame Head:')
display(dfdiv.set_index(['State', 'County'])) # transposed version is easier to see on screen
display(dfdiv.info())
display(dfdiv.describe().T)

Number of nulls in State: 52
Number of nulls in State after dropping: 0


Transposed DataFrame Head:

                                  Diversity-Index  \
State County
AK    Aleutians East Borough             0.738867
      Aleutians West Census Area         0.769346
      Anchorage Municipality             0.601515
      Bethel Census Area                 0.315556
      Bristol Bay Borough                0.648271
...                                           ...
WY    Sweetwater                         0.340296
      Teton                              0.325230
      Uinta                              0.225552
      Washakie                           0.296868
      Weston                             0.147697

                                  Black or African American alone, percent, 2013  \
State County
AK    Aleutians East Borough                                                 7.7
      Aleutians West Census Area                                             7.4
      Anchorage Municipality                                                 6.3
      Bethel Census Area                                                     0.7
      Bristol Bay Borough                                                    0.0
...                                                                          ...
WY    Sweetwater                                                             1.7
      Teton                                                                  1.5
      Uinta                                                                  0.8
      Washakie                                                               0.8
      Weston                                                                 0.6

                                  American Indian and Alaska Native alone, percent, 2013  \
State County
AK    Aleutians East Borough                                                   21.8
      Aleutians West Census Area                                               13.8
      Anchorage Municipality                                                    8.1
      Bethel Census Area                                                       81.8
      Bristol Bay Borough                                                      33.8
...                                                                             ...
WY    Sweetwater                                                                1.2
      Teton                                                                     1.0
      Uinta                                                                     1.3
      Washakie                                                                  1.7
      Weston                                                                    1.7

                                  Asian alone, percent, 2013  \
State County
AK    Aleutians East Borough                            41.4
      Aleutians West Census Area                        31.1
      Anchorage Municipality                             8.9
      Bethel Census Area                                 1.0
      Bristol Bay Borough                                1.1
...                                                      ...
WY    Sweetwater                                         0.9
      Teton                                              1.3
      Uinta                                              0.4
      Washakie                                           0.7
      Weston                                             0.3

                                  Native Hawaiian and Other Pacific Islander alone, percent,  \
State County
AK    Aleutians East Borough                                                    0.7
      Aleutians West Census Area                                                2.3
      Anchorage Municipality                                                    2.3
      Bethel Census Area                                                        0.3
      Bristol Bay Borough                                                       0.3
...                                                                             ...
WY    Sweetwater                                                                0.2
      Teton                                                                     0.1
      Uinta                                                                     0.2
      Washakie                                                                  0.1
      Weston                                                                    0.0

                                  Two or More Races, percent, 2013  \
State County
AK    Aleutians East Borough                                   3.7
      Aleutians West Census Area                               4.8
      Anchorage Municipality                                   7.8
      Bethel Census Area                                       4.1
      Bristol Bay Borough                                     17.5
...                                                            ...
WY    Sweetwater                                               1.7
      Teton                                                    1.5
      Uinta                                                    1.7
      Washakie                                                 1.7
      Weston                                                   2.1

                                  Hispanic or Latino, percent, 2013  \
State County
AK    Aleutians East Borough                                   13.5
      Aleutians West Census Area                               14.6
      Anchorage Municipality                                    8.6
      Bethel Census Area                                        1.6
      Bristol Bay Borough                                       3.9
...                                                             ...
WY    Sweetwater                                               15.9
      Teton                                                    15.1
      Uinta                                                     9.1
      Washakie                                                 14.2
      Weston                                                    3.8

                                  White alone, not Hispanic or Latino, percent, 2013
State County
AK    Aleutians East Borough                                                   12.9
      Aleutians West Census Area                                               29.2
      Anchorage Municipality                                                   60.5
      Bethel Census Area                                                       11.5
      Bristol Bay Borough                                                      45.3
...                                                                             ...
WY    Sweetwater                                                               79.6
      Teton                                                                    80.7
      Uinta                                                                    87.5
      Washakie                                                                 82.6
      Weston                                                                   92.2

[3143 rows x 8 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Data columns (total 10 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   State                                                       3143 non-null   object
 1   County                                                      3143 non-null   object
 2   Diversity-Index                                             3143 non-null   float64
 3   Black or African American alone, percent, 2013              3143 non-null   float64
 4   American Indian and Alaska Native alone, percent, 2013      3143 non-null   float64
 5   Asian alone, percent, 2013                                  3143 non-null   float64
 6   Native Hawaiian and Other Pacific Islander alone, percent,  3143 non-null   float64
 7   Two or More Races, percent, 2013                            3143 non-null   float64
 8   Hispanic or Latino, percent, 2013                           3143 non-null   float64
 9   White alone, not Hispanic or Latino, percent, 2013          3143 non-null   float64
dtypes: float64(8), object(2)
memory usage: 245.7+ KB

None

,count,mean,std,min,25%,50%,75%,max
Diversity-Index,3143.0,0.298603,0.181991,0.021816,0.126351,0.266234,0.471548,0.769346
"Black or African American alone, percent, 2013",3143.0,9.179860,14.445970,0.000000,0.700000,2.300000,10.700000,85.300000
"American Indian and Alaska Native alone, percent, 2013",3143.0,2.231594,7.618798,0.000000,0.300000,0.600000,1.200000,92.900000
"Asian alone, percent, 2013",3143.0,1.344798,2.668245,0.000000,0.400000,0.600000,1.200000,42.600000
"Native Hawaiian and Other Pacific Islander alone, percent,",3143.0,0.117086,0.943694,0.000000,0.000000,0.000000,0.100000,47.800000
"Two or More Races, percent, 2013",3143.0,1.857111,1.504005,0.000000,1.100000,1.500000,2.100000,29.500000
"Hispanic or Latino, percent, 2013",3143.0,8.839644,13.398905,0.200000,2.000000,3.700000,9.000000,95.700000
"White alone, not Hispanic or Latino, percent, 2013",3143.0,77.399459,19.858860,3.200000,65.800000,84.900000,93.350000,98.900000

<br>
<hr>
<br>
<br>
<br>
<br>

# Import Dataset: Offenses Reported to Law Enforcement

In [3]:
dfoff = pd.read_excel(datap/"Table_10_Offenses_Known_to_Law_Enforcement_by_State_by_Metropolitan_and_Nonmetropolitan_Counties_2013.xls", \
    skiprows=4)

# clean the labels
cols = list(dfoff.columns)
cols = [label.replace('\n', '_') for label in cols]
dfoff.columns = cols

dfoff = dfoff.rename(columns={'Violent _crime': 'Violent_Crime'})

# fill forward the state column as it was originally a multiindex and 
# had NaNs after import
dfoff['State'].fillna(method='ffill', inplace=True)

# drop the last 9 rows which were apparently a footer
dfoff = dfoff.iloc[:-9]

# remove extraneous data from the State strings
states = dfoff['State'].str.split(' - ').tolist()
states = [l[0] for l in states]
dfoff['State'] = states
dfoff['State'] = dfoff['State'].str.title()  # to standard capitalization
dfoff['State'] = dfoff['State'].apply(lambda x: us_state_abbrev[x])  # convert full State names to abbreviations

display(dfoff['State'].sample(12).tolist())  # display a random sample of States

# Sort by geographical location
dfoff = dfoff.sort_values(by=['State', 'County']).reset_index(drop=True)  

# Display the df of known offenses
print('Transposed DataFrame Head:')
display(dfoff.head(6).T)  # transpose is easier to see on screen 
display(dfoff.info())
display(dfoff.describe().T)

['SD', 'SD', 'KY', 'MI', 'NE', 'IL', 'IL', 'AR', 'MD', 'IN', 'TX', 'SD']

Transposed DataFrame Head:

,0,1,2,3,4,5
State,AL,AL,AL,AL,AL,AL
County,Autauga,Baldwin,Barbour,Bibb,Blount,Butler
Violent_Crime,72.0,111.0,21.0,8.0,91.0,35.0
Murder and _nonnegligent _manslaughter,0.0,0.0,1.0,0.0,0.0,1.0
Rape_(revised _definition)1,15.0,13.0,2.0,0.0,9.0,6.0
Rape_(legacy_definition)2,NaN,NaN,NaN,NaN,NaN,NaN
Robbery,3.0,27.0,2.0,0.0,0.0,0.0
Aggravated _assault,54.0,71.0,16.0,8.0,82.0,28.0
Property _crime,444.0,674.0,115.0,123.0,947.0,141.0
Burglary,160.0,250.0,43.0,65.0,302.0,49.0
Larceny-_theft,238.0,380.0,63.0,40.0,562.0,85.0
Motor _vehicle _theft,46.0,44.0,9.0,18.0,83.0,7.0
Arson3,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 13 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   State                                   2535 non-null   object
 1   County                                  2535 non-null   object
 2   Violent_Crime                           2533 non-null   float64
 3   Murder and _nonnegligent _manslaughter  2535 non-null   float64
 4   Rape_(revised _definition)1             1553 non-null   float64
 5   Rape_(legacy_definition)2               982 non-null    float64
 6   Robbery                                 2535 non-null   float64
 7   Aggravated _assault                     2533 non-null   float64
 8   Property _crime                         2533 non-null   float64
 9   Burglary                                2535 non-null   float64
 10  Larceny-_theft                          2535 non-null   float64
 11  Motor _vehicle _theft                   2533 non-null   float64
 12  Arson3                                  2394 non-null   float64
dtypes: float64(11), object(2)
memory usage: 257.6+ KB

None

,count,mean,std,min,25%,50%,75%,max
Violent_Crime,2533.0,79.292144,330.473757,0.0,5.0,16.0,49.0,8589.0
Murder and _nonnegligent _manslaughter,2535.0,1.099014,4.571978,0.0,0.0,0.0,1.0,106.0
Rape_(revised _definition)1,1553.0,8.195750,24.520958,0.0,0.0,2.0,7.0,448.0
Rape_(legacy_definition)2,982.0,6.972505,18.006802,0.0,0.0,2.0,7.0,281.0
Robbery,2535.0,14.529783,109.104107,0.0,0.0,1.0,3.0,3260.0
Aggravated _assault,2533.0,55.963285,207.424689,0.0,3.0,12.0,38.0,4942.0
Property _crime,2533.0,603.615871,2092.683377,0.0,54.0,161.0,430.0,50729.0
Burglary,2535.0,173.319921,533.986536,0.0,16.0,51.0,136.5,13447.0
Larceny-_theft,2535.0,388.737673,1390.159806,0.0,31.0,97.0,261.0,31501.0
Motor _vehicle _theft,2533.0,43.548756,216.488495,0.0,3.0,9.0,24.0,5781.0
Arson3,2394.0,3.598997,13.212827,0.0,0.0,1.0,3.0,254.0

<br>
<hr>
<br>
<br>
<br>
<br>
<br>

## Import Dataset: Census Data for Population

In [7]:
dfpop = pd.read_excel(datap/'co-est2019-annres.xlsx', skiprows=3)
dfpop = dfpop.iloc[:3143]  # drop the footnotes
dfpop = dfpop.iloc[1:]  # drop "United States"
dfpop = dfpop.rename(columns={'Unnamed: 0': 'County, State'})
dfpop['County, State'] = dfpop['County, State'].apply(lambda s: s[1:])  # drop the extra period prefix

# split the County,State column into two
dftemp = dfpop['County, State'].str.extract(r'(.*),\s?(.*)')
dfpop['County'], dfpop['State'] = dftemp[0], dftemp[1]

 # drop extraneous columns
dfpop = dfpop[['State', 'County', 2013]] 

# replace extraneous instances of 'County' string
dfpop['County'] = dfpop['County']. \
    str.replace(' County',''). \
    str.replace('County ',''). \
    str.replace('County','')
    
# to standard capitalization
dfpop['State'] = dfpop['State'].str.title()  

 # drop District of Columbia which is NOT a state
dfpop = dfpop.set_index('County'). \
    drop(index='District of Columbia'). \
    reset_index() 

# convert full State names to abbreviations
dfpop['State'] = dfpop['State'].apply(lambda x: us_state_abbrev[x])  

# convert the numberic column label to string
dfpop.rename({2013:'population_in_2013'}, axis=1, inplace=True)
dfpop

          County State  population_in_2013
0        Autauga    AL             54727.0
1        Baldwin    AL            194885.0
2        Barbour    AL             26937.0
3           Bibb    AL             22521.0
4         Blount    AL             57619.0
...          ...   ...                 ...
3136  Sweetwater    WY             45157.0
3137       Teton    WY             22315.0
3138       Uinta    WY             20951.0
3139    Washakie    WY              8413.0
3140      Weston    WY              7136.0

[3141 rows x 3 columns]

<br>
<hr>
<br>
<br>
<br>
<br>

# Merge the DataFrames

In [8]:
df = dfdiv. \
    merge(dfoff, how='inner', on=['State', 'County']). \
    merge(dfpop, how='inner', on=['State', 'County'])
df

,State,County,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013",...,Rape_(revised _definition)1,Rape_(legacy_definition)2,Robbery,Aggravated _assault,Property _crime,Burglary,Larceny-_theft,Motor _vehicle _theft,Arson3,population_in_2013
0,AL,Autauga,0.388898,18.4,0.5,1.1,0.1,1.7,2.7,75.9,...,15.0,NaN,3.0,54.0,444.0,160.0,238.0,46.0,NaN,54727.0
1,AL,Baldwin,0.297942,9.5,0.7,0.9,0.1,1.5,4.6,83.1,...,13.0,NaN,27.0,71.0,674.0,250.0,380.0,44.0,NaN,194885.0
2,AL,Barbour,0.556605,47.6,0.6,0.5,0.2,0.9,4.8,46.3,...,2.0,NaN,2.0,16.0,115.0,43.0,63.0,9.0,NaN,26937.0
3,AL,Bibb,0.394100,22.1,0.4,0.2,0.1,0.9,2.1,74.6,...,0.0,NaN,0.0,8.0,123.0,65.0,40.0,18.0,NaN,22521.0
4,AL,Blount,0.221056,1.8,0.6,0.3,0.1,1.1,8.7,87.8,...,9.0,NaN,0.0,82.0,947.0,302.0,562.0,83.0,NaN,57619.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2417,WY,Platte,0.197897,0.9,0.7,0.5,0.2,1.4,7.8,89.2,...,NaN,0.0,0.0,2.0,36.0,16.0,17.0,3.0,0.0,8710.0
2418,WY,Sheridan,0.162154,1.2,1.4,0.8,0.1,1.4,4.3,91.4,...,NaN,0.0,0.0,1.0,39.0,7.0,30.0,2.0,1.0,29733.0
2419,WY,Sublette,0.218882,1.4,1.1,1.1,0.0,1.4,7.8,88.0,...,NaN,1.0,0.0,13.0,119.0,13.0,101.0,5.0,0.0,10175.0
2420,WY,Sweetwater,0.340296,1.7,1.2,0.9,0.2,1.7,15.9,79.6,...,NaN,2.0,0.0,18.0,111.0,25.0,73.0,13.0,3.0,45157.0
2421,WY,Uinta,0.225552,0.8,1.3,0.4,0.2,1.7,9.1,87.5,...,NaN,0.0,0.0,0.0,68.0,3.0,62.0,3.0,0.0,20951.0

<br>
<br>

# Combine the population and violent crimes data

In [9]:
df['violent_crime_pct'] = df['Violent_Crime'] / df['population_in_2013']

<br>
<br>

# Export the DataFrame to a file

In [10]:
df.to_parquet(datap/'merged_df.parquet.gzip')

<br>
<br>
<br>
<br>
<hr>

## Next Notebook: EDA.ipynb